@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #fff4e6;
}


@media(min-width: 300px) {
    header {
        background-color: #3c2f2f;
        color: #fff4e6;
        height: 40px;
        align-content: center;
        padding-left: 25px;
        padding: 25px;
    }
    
    .container {
        position: relative;
        margin: auto;
        margin-top: 5%;
        height: 50vh;
        width: 35%;
        background-color: #be9b7b;
        text-align: center;
        padding: 10px;
        border: solid black;
        font-size: 25px;    
        border-radius: 20px;
    }

    li {
        display: flex;
        text-align: left;
        justify-content: space-between;
        padding-left: 10px;
        padding: 15px;
        height: 40px; 
        border: solid black;
        border-radius: 15px;
        margin-top: 5px;
        background-color: #fff4e6;
        color: #3c2f2f;
        font-weight: bold;
    }
    
    input {
        border-radius: 15px;
        width: 50%;
        height: 8%;
        padding: 10px;
        font-size: 1rem;
    }
    
    .add:hover, .del:hover {
        width: 14%;
        height: 10%;
        
    }

    .add {
        background-color: rgb(63, 233, 63);
        border-radius: 8px;
        width: 12%;
        height: 8%;
        font-size: 1rem;
        color: black;
        cursor: pointer;
    }

    .del {
        background-color: rgb(233, 63, 63);
        border-radius: 8px;
        width: 12%;
        height: 8%;
        font-size: 1rem;
        color: black;
        cursor: pointer;
    }

    

}

